.checkout-modal{
    width: 100% ;
    height: 100%;
    background-color: rgba(122, 125, 133, .7);
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
    main {
        z-index: 100;
        position: fixed;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:260px;
        height: 260px;
        background-color: white;
        border-radius: 50%;
        
        .success-img {
            background-image: url('../../img/V.png');
            width:250px;
            height: 250px;
            background-size: cover;
            border: none;
            background-color: white;
            border-radius: 50%;
        }
    }
}