.footer-container {
  margin-top: 3rem;
  background-color: white;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  user-select: none;
  border-top: 1px solid #e4e5e7;
  .social-container {
    justify-content: space-between;
    width: 7.5rem;
    i {
      color: $clr4;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
  p {
    color: $clr4;
    font-size: 0.8rem;
  }
}

.footer-logo {
  font-family: five;
  color: $clr4;
  &::after {
    content: ".";
    color: $clr4;
  }
}
