.categories {
  position: relative;
  padding: 0px;
}

.cat-img {
  text-align: center;
  color: white;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
    transition: 0.4s;
  }
}
.cat-link {
  position: relative;
}

.cat-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $clr3;
  font-size: 1.8rem;
  font-weight: 500;
}
