header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  user-select: none;
  z-index: 1;

  .header-logo {
    font-family: five;
    color: $clr3;
    &::after {
      content: ".";
      color: $clr1;
    }
    &:hover {
      text-decoration: none;
    }
  }

  .loggedin-user {
    background-color: $clr1;
    padding: 2px 8px;
    border-radius: 1em;
    align-self: flex-end;
    color: whitesmoke;
    span {
      background-color: $clr2;
      padding: 4px;
      margin: 10px;
      border-radius: 50%;
    }
  }
  nav {
    padding: 5px 0;
  }
  nav a {
    color: $clr3;
    &:hover {
      color: $clr1;
    }
  }
  nav a:not(:first-child) {
    border-top: 1px solid $clr1;
    padding: 0 5px;
    margin: 10px;
  }
  nav .active {
    color: $clr1;
  }
  .navbar-list {
    list-style-type: none;
  }
}
