header {
  position: fixed;
  padding: 10px;
  user-select: none;
  width: 100vw;
  z-index: 1;
  border-color: transparent;
  height: 90px;
  font-weight: 600;
  transition: all 0.6s;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      font-family: five;
      color: $clr3;
      letter-spacing: 0.08rem;
      font-weight: 100;
      margin: 0;
      &::after {
        content: ".";
        color: $clr1;
      }
      &:hover {
        text-decoration: none;
      }
    }

    .loggedin-user {
      background-color: $clr1;
      padding: 2px 8px;
      border-radius: 1em;
      align-self: flex-end;
      color: whitesmoke;
      span {
        background-color: $clr2;
        padding: 4px;
        margin: 10px;
        border-radius: 50%;
      }
    }
    nav {
      padding: 5px 0;
      a {
        color: $clr3;
        &.active {
          color: $clr1;
        }
        &:hover {
          color: $clr1;
          transition: all 0.2s;
        }
      }
    }

    .navbar-list {
      font-size: 1rem;
      list-style-type: none;
      align-items: center;
      margin: 0;
      margin-right: 0.5rem;
      a {
        margin-left: 1rem;
      }
      button {
        font-family: montserrat;
        font-size: 1rem;
        background-color: transparent;
        color: $clr3;
        border: 2px $clr3 solid;
        font-weight: 600;
        padding: 7px 20px;
        &:hover {
          background-color: $clr1;
          border-color: $clr1;
          transition: all 0.2s;
        }
        &.logout-btn {
          color: $clr3;
          border: none;
          &:hover {
            color: $clr1;
            background-color: transparent;
          }
        }
        &.sign-in-btn {
          color: $clr3;
          border: none;
          &:hover {
            color: $clr1;
            background-color: transparent;
          }
        }
      }
    }
  }
  &.header-colored {
    background-color: $clr3;
    z-index: 10;
    border-bottom: 1px solid $clr8;
    height: 70px;
    transition: all 0.6s;
    .navbar-list {
      button {
        color: $clr1;
        border: 2px $clr1 solid;
        &:hover {
          background-color: $clr1;
          color: $clr3;
        }
        &.sign-in-btn {
          color: #62646a;
        }
        &.logout-btn {
          color: #62646a;
        }
      }
      a {
        color: #62646a;
      }
    }
    .header-logo {
      color: #62646a;
    }
  }
}
