header {
  position: fixed;
  padding: 10px;
  font-size: 1rem;
  user-select: none;
  width: 100vw;
  z-index: 1;
  // height: 80px;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      font-family: five;
      color: $clr3;
      letter-spacing: 0.08rem;
      font-weight: 100;
      margin: 0;
      &::after {
        content: ".";
        color: $clr1;
      }
      &:hover {
        text-decoration: none;
      }
    }

    .loggedin-user {
      background-color: $clr1;
      padding: 2px 8px;
      border-radius: 1em;
      align-self: flex-end;
      color: whitesmoke;
      span {
        background-color: $clr2;
        padding: 4px;
        margin: 10px;
        border-radius: 50%;
      }
    }
    nav {
      padding: 5px 0;
    }
    nav a {
      font-weight: 500;
      color: $clr3;
      &:hover {
        color: $clr1;
      }
    }
    nav .active {
      color: $clr1;
    }
    .navbar-list {
      list-style-type: none;
      align-items: center;

      li {
        padding: 0 10px;
      }
    }
  }
  &.header-colored {
    background-color: $clr3;
    z-index: 10;
    border-bottom: 1px solid $clr7;
    // height: 40px;
    .navbar-list a {
      color: $clr4;
    }
    .header-logo {
      color: $clr4;
    }
  }
}
