.hero {
  // position: absolute;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // text-align: center;
  color: $clr3;
  margin-bottom: 3rem;
  span {
    font-family: caveat;
  }
}
.hero-title {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
}
