h3 {
    color: rgb(107, 107, 107);
}

.order-preview-container {
    margin: 20px;
    padding: 10px;
    padding-left: 14px;
    border: 0.3px solid rgb(204, 204, 204);
    border-left: 4px solid #1dbf73;
  }