.review-card {
  .sml-review-img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }

  h3 {
    color: $clr6;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .review-txt {
    display: block;
  }
}
