.gig-details {
    width: 66%;

    h1{
        color:$clr4;
    }

    .sml-round-img{
        width:30px;
        height: 30px;
        border-radius: 50px;
        border: .7px solid $clr2;
    }

    .gig-gallery{
      justify-content: space-between;
    }
    .gig-gallery-img{
      width:32%;
    }

    .gig-info{
        margin-top: 100px;
    }

    .about-title{
        color:$clr4;
    }
    .about-details{
        margin: 0;
        margin-top:10px;
        width:100%;
        flex-direction: column;
    }

    .about-seller{
        margin-top: 20px;
    }

    .md-round-img{
        width:100px;
        border-radius: 50px;
        background-color:$clr1;
        margin: 0 0 10px;
    }

    .owner-card-right{
        flex-direction: column;
        margin-left: 20px;
    }

    .contact-owner{
        margin: 0 0 10px;
        font-size: 1.2rem;
    }

    .owner-info{
        border: 1px solid $clr1;
        margin:0;
        margin-bottom: 30px;
        
    }
    .info-left, .info-right{
        flex-direction: column;
        margin: 20px;
    }

    .info-left{
        margin-right: 200px;
    }

    .reviews-headline{
        color:$clr4;
    }

    .reviews-rate-bars{
        background-color:red;
        height: 300px;
        margin-bottom: 20px;
    }
    .add-review{
        font-size:1.2rem;
        margin-left: 0;
    }
}

.call-to-action{
    position: fixed;
    right: 9%;
    top: 17%;
    padding:10px;
    width:25%;
    border: 1px double $clr1;
    background-color:white;
    
    span{
        color:  $clr1;
    }
    p{
        font-size:1rem;
    }
    .checkout-btn{
        margin:0;
        font-size:1.2rem;
    }
}