.app {
  max-height: 100vh;
  .footer-container {
    margin-top: 12rem;
  }
}

.checkout-container {
  align-items: flex-start;
  position: relative;

  .package-details {
    margin-top: 100px;
    order: -1;
    flex-direction: column;
    width: 70%;
    h1 {
      font-size: 1.7rem;
      margin-bottom: 2rem;
      color: $clr4;
    }

    .package-info {
      margin-bottom: 3rem;
      margin-right: 1rem;
      img {
        width: 190px;
        margin-right: 1rem;
      }
    }

    .gig-info {
      flex-direction: column;
      justify-content: space-between;
    }
    .title {
      color: $clr4;
      max-width: 300px;
      margin-right: 4rem;
    }
    .qty {
      margin-right: 1rem;
    }
    .extra-title {
      border-top: 1px solid $clr8;
      padding-top: 3rem;
      color: $clr4;
    }
    select {
      height: 30px;
      font-size: 1rem;
      margin-right: 3rem;
      width: 3rem;
      border-color: $clr8;
    }

    button,
    .view-line {
      color: $clr1;
      background-color: white;
      &:hover {
        color: #19a463;
        transition: all 0.3s;
      }
    }

    .more-details {
      flex-direction: column;
      margin: 20px 0;
    }

    span {
      color: $clr1;
    }

    .extra-container {
      border: 1px solid $clr8;
      width: 65%;
      align-items: center;
      label {
        color: #222325;
      }
      input {
        height: 1rem;
      }
    }
  }

  p {
    margin: 0;
    color: $clr4;
  }
  .order-summary-container {
    margin-top: 100px;
    .order-summary {
      margin-left: 3rem;
      padding: 20px;
      border: 1px solid $clr8;
      max-width: 19rem;
      h2 {
        color: $clr4;
        margin-bottom: 30px;
      }
      .price,
      .fee,
      hr,
      .total,
      .delivery {
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .total {
        color: $clr4;
      }
      .btn-purchase {
        font-size: 1.5rem;
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 3rem;
        &:hover {
          background-color: #19a463;
          transition: all 0.3s;
        }
      }
    }
  }
}
