// .app {
//   max-height: 100vh;
//   .footer-container {
//     margin-top: 11rem;
//   }
// }

.checkout-container {
  align-items: flex-start;
  position: relative;

  .package-details {
    margin-top: 100px;
    order: -1;
    flex-direction: column;
    width: 70%;
    h1 {
      margin-top: 10px;
      color: $clr4;
    }

    .package-info {
      justify-content: space-between;
    }
    img {
      width: 190px;
    }

    .gig-info {
      flex-direction: column;
      justify-content: space-between;
    }
    .title {
      color: $clr4;
    }

    select {
      height: 30px;
      font-size: 1rem;
    }

    button,
    .view-line {
      color: $clr1;
      background-color: white;
    }

    .more-details {
      flex-direction: column;
      margin: 20px 0;
    }

    span {
      color: $clr1;
    }

    .extra-container {
      border: 1px solid $clr8;
      width: 65%;
      justify-content: space-between;
      padding: 20px;
    }

    input {
      height: 1rem;
    }

    label {
      padding-bottom: 10px;
      align-items: center;
    }
  }

  p {
    margin: 0;
  }
  h4 {
    margin-bottom: 15px;
  }

  .order-summary-container {
    margin-top: 100px;
  }

  .order-summary {
    margin-left: 3rem;
    padding: 20px;
    border: 1px double $clr8;
    h2 {
      color: $clr4;
      margin-bottom: 30px;
    }

    .price,
    .fee,
    hr,
    .total,
    .delivery {
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .total {
      color: $clr4;
    }

    .btn-purchase {
      font-size: 1.5rem;
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 3rem;
    }
  }
}
