.gig-details {
  width: 54%;
  .owner-details {
    font-size: 0.9rem;
    align-items: center;
    .owner-name {
      color: $clr4;
      font-weight: 1000;
    }
    .orders-queue {
      margin-left: 5px;
    }
  }
  .sml-round-img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .img-container {
    width: 100%;
    .gig-details-img {
      object-fit: cover;
      height: 400px;
      width: 100%;
    }
  }
  .gig-gallery {
    justify-content: space-between;
  }
  .gig-gallery-img {
    width: 33%;
    object-fit: cover;
    height: 80px;
  }

  .gig-info {
    margin-top: 100px;
    margin-bottom: 2rem;
  }
  .description {
    color: $clr2;
    margin-bottom: 2rem;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
  }
  .about-title {
    color: $clr4;
    font-size: 1.3rem;
    font-weight: 1000;
    margin-bottom: 1rem;
  }
  .about-details {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
  }
  .about-seller {
    margin-top: 20px;
  }
  .md-round-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  .owner-card-right {
    flex-direction: column;
    margin-left: 20px;
    align-self: center;
    color: $clr4;
    span {
      color: $clr7;
      font-size: 0.9rem;
    }
  }

  .owner-info {
    border: 1px solid $clr8;
    margin: 0;
    margin-bottom: 4rem;
    flex-direction: column;
    width: 100%;
    p {
      max-width: fit-content;
      margin-right: 7rem;
    }
    b {
      color: #5e5f63;
    }
    .info-left,
    .info-right {
      margin: 1rem;
      justify-content: space-between;
    }
    .info-right {
      border-bottom: 1px solid $clr8;
    }
    .owner-summary {
      margin: 20px;
      line-height: 1.6;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .info-left {
    margin-right: 200px;
  }

  .reviews-headline {
    color: $clr4;
    margin-bottom: 1.6rem;
  }

  .reviews-rate-bars {
    background-color: rgb(255, 228, 228);
    height: 300px;
    margin-bottom: 20px;
  }
  .add-review {
    font-size: 1.2rem;
    margin-left: 0;
  }
}

.call-to-action {
  max-width: 400px;
  position: fixed;
  right: 10%;
  top: 12%;
  // padding: 15px;
  border: 1px double $clr8;
  flex-direction: column;
  align-items: center;
  .fa-clock {
    margin-bottom: 1rem;
  }
  .package-choice {
    width: 100%;
    padding: 0px;
    .btn {
      height: 50px;
      width: 34%;
      background-color: #fafafa;
      color: $clr2;
      border: 1px solid $clr8;
      border-radius: 0px;
      &.active {
        color: $clr1;
        border-bottom: 3px solid $clr1;
        background-color: #fff;
      }
    }
  }
}
.cta-container {
  margin-top: 1rem;
  width: 25rem;
  padding: 1.1em;
  .cta-price {
    justify-content: space-between;
    color: $clr4;
    font-size: 1.3rem;
    font-weight: 1000;
    margin-bottom: 1rem;
  }
  span {
    color: $clr1;
  }
  i {
    margin-right: 5px;
  }
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .btn {
    font-size: 1rem;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-top: 1rem;
    &:hover {
      background-color: #19a463;
      transition: all 0.3s;
    }
    &.contact-owner {
      background-color: #fff;
      color: $clr7;
      border: 1px solid $clr7;
      &:hover {
        background-color: $clr7;
        color: $clr3;
        transition: all 0.6s;
      }
    }
  }
}

.add-review-btn {
  width: 150px;
}
