.gig-details {
  width: 66%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $clr4;
    line-height: normal;
  }
  .owner-details {
    font-size: 0.9rem;
    align-items: center;
    .owner-name {
      color: black;
      font-weight: 1000;
    }
    .orders-queue {
      margin-left: 5px;
    }
  }
  .sml-round-img {
    width: 30px;
    border-radius: 50px;
    margin-bottom: 1rem;
  }

  .img-container {
    width: 80%;
    .gig-details-img {
      object-fit: cover;
      height: 400px;
      width: 100%;
    }
  }
  .gig-gallery {
    justify-content: space-between;
  }
  .gig-gallery-img {
    width: 33%;
    object-fit: cover;
    height: 80px;
  }

  .gig-info {
    margin-top: 100px;
  }
  .about-title {
    color: $clr4;
  }
  .about-details {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
  }
  .about-seller {
    margin-top: 20px;
  }
  .md-round-img {
    width: 100px;
    border-radius: 50px;
    background-color: $clr1;
    margin: 0 0 10px;
  }
  .owner-card-right {
    flex-direction: column;
    margin-left: 20px;
  }

  .owner-info {
    border: 1px solid $clr8;
    margin: 0;
    margin-bottom: 30px;
    flex-direction: column;
    width: 70%;

    .info-left,
    .info-right {
      flex-direction: row;
      margin: 20px;
      justify-content: space-between;
    }
    .owner-summary {
      margin: 20px;
    }
  }

  .info-left {
    margin-right: 200px;
  }

  .reviews-headline {
    color: $clr4;
    margin-bottom: 4rem;
  }

  .reviews-rate-bars {
    background-color: rgb(255, 228, 228);
    height: 300px;
    margin-bottom: 20px;
  }
  .add-review {
    font-size: 1.2rem;
    margin-left: 0;
  }
}

.call-to-action {
  position: fixed;
  right: 7%;
  top: 12%;
  padding: 10px;
  width: 27%;
  height: 62%;
  border: 1px double $clr8;
  background-color: white;
  span {
    color: $clr1;
  }
  p {
    font-size: 1rem;
  }

  .btn {
    font-size: 1.5rem;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1rem;
    &.contact-owner {
      background-color: #fff;
      color: $clr7;
      border: 1px solid $clr7;
      &:hover {
        background-color: $clr7;
        color: $clr3;
        transition: all 0.6s;
      }
    }
  }
}
