.app {
  max-height: 100vh;
  .footer-container {
    margin-top: 12rem;
  }
}

.checkout-container {
  align-items: flex-start;
  position: relative;

  .package-details {
    margin-top: 80px;
    order: -1;
    flex-direction: column;
    width: 70%;
    
    .checkout-headline{
      margin-bottom: 2rem;
      font-size: 1.7rem;
      color: $clr4;
    }
    .package-info {
      margin-bottom: 3rem;
      margin-right: 1rem;
      width:100%;
      img {
        width: 190px;
        margin-right: 1rem;
      }
    }
    
    .gig-info {
      flex-direction: column;
      justify-content: space-between;
      .title {
        color: $clr4;
        margin-right: 2.7rem;
      }
    }
    .qty {
      margin-right: 1rem;
      color: $clr2;
    }
    .extra-title {
      border-top: 1px solid $clr8;
      padding-top: 3rem;
      margin-bottom: 2rem;
      font-size: 1.7rem;
      color: $clr4;
    }
    select {
      height: 30px;
      font-size: 1rem;
      margin-right: 2.5rem;
      width: 3rem;
      border-color: $clr8;
      cursor: pointer;
    }
    
    button,
    .view-line {
      color: $clr1;
      font-size: 1rem;
      background-color: white;
      &:hover {
        color: #19a463;
        transition: all 0.3s;
      }
    }

    .more-details {
      flex-direction: column;
      margin: 20px 0;
    }

    span {
      color: $clr1;
    }

    .extra-container {
      border: 1px solid $clr8;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding:20px;
      label {
        color: #222325;
        width:100%;
      }
      input {
        height: 1rem;
        width:20px;
        align-self: center;
      }
      p {
        margin-right: 1rem;
      }
      .extra-line{ 
        justify-content:space-between;
        width: 100%;
      }
    }
  }

  p {
    margin: 0;
    color: $clr4;
  }
  .order-summary-container {
    margin-top: 100px;
    .order-summary {
      margin-left: 10rem;
      padding: 20px;
      border: 1px solid $clr8;
      // max-width: 19rem;
      h3 {
        color: $clr4;
        margin-bottom: 30px;
      }
      .price,
      .fee,
      hr,
      .total,
      .delivery {
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .total {
        color: $clr4;
      }
      .btn-purchase {
        font-size: 1.5rem;
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 3rem;
        &:hover {
          background-color: #19a463;
          transition: all 0.3s;
        }
      }
    }
  }
}



@media (max-width: $normal-breakpoint) {
  .main-layout {
    max-width: 900px;
  }

 

}

// @media (max-width: $narrow-breakpoint) {
//   .main-layout {
//     max-width: 650px;
    
//   }
// }

// @media (max-width: 600px) {
//   .main-layout {
//     max-width: 580px;
    
//     .package-details {
//       justify-content: center;
//       width: 100%;
//       background-color:red;
      
//       .checkout-headline{
//         font-size:1rem; 
//         margin-bottom: 10px;
//       }

//       .package-info{
//         flex-direction: column;
        
//       }
//     }
//   }
// }