.home-filters-container {
  h3 {
    color: $clr4;
  }
}

@media (max-width: $mobile-breakpoint) {
  .main-layout {
    max-width: 380px;
  }
  .hero {
    height: 70vh;
    .hero-title-main {
      font-size: 1.5rem;
      margin-top: 15rem;
    }
    .hero-title-secondary {
      font-size: 1.5rem;
    }
    .search-bar input {
      width: 10rem;
    }
    input {
      height: 2.4rem;
    }
  }
  .footer-container {
    p {
      display: none;
    }
  }
}

@media (min-width: $narrow-breakpoint) {
  .main-layout {
    max-width: 700px;
  }
  .gig-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .hero {
    height: 60vh;
    .hero-title-main {
      margin-top: 20rem;
      font-size: 2rem;
    }
    .hero-title-secondary {
      font-size: 2rem;
    }
    .search-bar input {
      width: 20rem;
      height: 2.7rem;
    }
  }
}

@media (min-width: $normal-breakpoint) {
  .main-layout {
    max-width: 900px;
  }
  .gig-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .hero {
    height: 85vh;
    .hero-title-main {
      font-size: 3rem;
    }
    .hero-title-secondary {
      font-size: 3rem;
    }
    .search-bar input {
      width: 32rem;
    }
  }
}

@media (min-width: $large-breakpoint) {
  .main-layout {
    max-width: 1180px;
  }
}

@media (min-width: $huge-breakpoint) {
  .main-layout {
    max-width: 1500px;
  }
  .hero {
    .search-bar input {
      width: 32rem;
    }
    .gig-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  .hero {
    height: 85vh;
    .hero-title-main {
      font-size: 3rem;
      margin-top: 20rem;
    }
    .hero-title-secondary {
      font-size: 3rem;
    }
    .search-bar input {
      width: 32rem;
    }
  }
  .footer-container {
    p {
      display: block;
    }
  }
}
