.tenner-app {
  padding-top: 100px;
  .gig-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .search-container {
    align-items: center;
    margin-bottom: 2rem;
    .sort-btn {
      font-size: 0.9rem;
      background-color: $clr3;
      color: $clr7;
      margin-bottom: 1rem;
      margin-left: 1rem;
      border: 1px solid $clr7;
      &:hover {
        color: $clr1;
        transition: color 0.2s;
      }
      .fas {
        color: $clr8;
      }
    }
  }

  .search-bar {
    margin-bottom: 1.5rem;
    label {
      width: 26rem;
      border: 1px solid $clr8;
      border-right: none;
      border-radius: 4px 0px 0px 4px;
    }
    .search-btn {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: $large-breakpoint) {
  .main-layout {
    max-width: 950px;
  }
}
@media (max-width: $normal-breakpoint) {
  .main-layout {
    max-width: 900px;
  }
  .tenner-app .search-bar {
    margin-bottom: 1rem;
    label {
      width: 20rem;
    }
  }
}
