* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr1;
  color: $clr3;
}

html {
  font-family: montserrat;
  line-height: 1.6;
  color: $clr2;
}

body {
  font-size: rem(18px);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: arial;
  margin: 0 0 0.6em;
  line-height: 1;
}

section,
main,
footer {
  padding: 5px;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
  // max-width: 40ch;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  height: 2.7rem;
  border: none;
  padding: 20px;
  border-radius: 4px 0 0 4px;
  width: 41%;
  outline: none;
}

.fa-star {
  margin-right: 0.2rem;
  color: transparent;
  &.filled {
    color: $clr6;
  }
}
