// Colors
$clr1: #1dbf73;
$clr2: #7a7d85;
$clr3: #fff;
$clr4: rgb(64, 65, 69);
$clr5: #dff0ea;
$clr6: #ffbe5b;
$clr7: #b5b6ba;
$clr8: #e4e5e7;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
