// Colors
$clr1: #1dbf73;
$clr2: #7a7d85;
$clr3: #fff;
$clr4: #404145;
$clr5: #dff0ea;
$clr6: gold;
$clr7: #b5b6ba;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
