// Colors
$clr1: #1dbf73;
$clr2: rgb(122, 125, 133);
$clr3: #fff;
$clr4: rgb(64, 65, 69);
$clr5: #dff0ea;
$clr6: #ffbe5b;
$clr7: #b5b6ba;
$clr8: #e4e5e7;

// Breakpoints
$mobile-breakpoint: 400px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$large-breakpoint: 1210px;
$huge-breakpoint: 1550px;
